<%= provide(:title, 'About')%>
<h1>About</h1>
<p>
  CryptThat розроблений для шифрування та дешифрування файлів любого типу,
  різними методами та алгоритмами. Після реєстрації шифрування файлів буде
  безпечнішим.
</p>