
<% if logged_in? %>
  <div class="row">

  </div>
<% else %>
  <div class="center jumbotron">

    <h2>
      If you want to encrypt files, drop here or choose them manually
      <a href="http://www.railstutorial.org/">choose them manually</a>
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>