<div class="center jumbotron">
  <h2>
    If you want encrypt files, drop them here or <a href="#">choose manually</a>
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>