<footer class="footer">
  <small>
    The <%= link_to 'CryptThat site', root_path %> created by
    by <a href="#">Alexander Tatarskyy</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>